<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      internalLogToConsole="true"
      internalLogLevel="Warn"
      autoReload="true">
  <extensions>
    <add assembly="NLog.Targets.KafkaAppender"/>
  </extensions>

  <variable name="KafkaBrokers" value="localhost:9092" />

  <targets>
    <target xsi:type="KafkaAppender"
            name="kafka"
            topic="${logger}"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            brokers="${var:KafkaBrokers}"
            async="false">
      <setting key="client.id" value="NLog_${machinename}" /><!-- Multiple allowed -->
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="kafka" />
  </rules>
</nlog>
